.swiper-button-prev,
.swiper-button-next {
  color: #ffba08 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px !important;
}

@media (max-width: 480px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 16px !important;
  }
}

.swiper-pagination-bullet-active {
  background-color: #ffba08 !important;
}
